.center {
display: flex;
justify-content: center;


}

#pseudo{
color:#673ca8;
font-family: Lobster;
font-size: 50px;
}

div{
    font-family: Roboto;
}

#TitreAccueil{
    font-family: Lobster;
    font-size: 70px;

}